/* src/components/AboutUs.css */
.about-us {
    padding: 50px 20px;
    text-align: center; /* Center align text */
    color: rgb(180, 180, 180); /* Dark text color */
  }
  
  .about-us h2 {
    font-size: 2.5rem; /* Main heading size */
    margin-bottom: 20px; /* Space below heading */
    color: #6921b5; /* Highlight color */
  }
  
  .about-us p {
    font-size: 1.2rem; /* Paragraph font size */
    line-height: 1.6; /* Spacing between lines */
    margin: 20px 0; /* Space above and below paragraphs */
  }
  